/** ==============================
// VARIABLES FOR LIGHT & DARK MODE
============================== **/
/*
Vermelho #CB5757
Preto #282828
Cinzento #7F8080
Branco #FAF6F6
*/

:root {
    /* Navbar */
    --icon-color: invert(8%) sepia(0%) saturate(488%) hue-rotate(148deg) brightness(94%) contrast(81%);
    --bg-navbar: #FAF6F6;
    --font-navbar: #282828;

    /* Body */
    --bg-body: #ffffff;

    /* Home Page*/
}

@media (prefers-color-scheme: dark) {
    :root {
        /* Navbar */
        --icon-color: invert(100%) sepia(14%) saturate(2324%) hue-rotate(310deg) brightness(113%) contrast(98%);
        --bg-navbar: #2B2B2B;
        --font-navbar: #FAF6F6;

        /* Body */
        --bg-body: #282828;
    }
}

/** ==============================
// GLOBAL CONFIGURATION
============================== **/
main {
    padding-top: 52px;
    height: 100%;
}

html, body {
    font-family: 'Source Sans Pro';
    background-color: var(--bg-body);
    height: 100%;
}

.footer {
    background-color: #f5f5f5;
    font-size: .9em;
    box-shadow: 0 -2px 4px 0 rgba(0,0,0,.2);
    background-color: #FFFFFF;
}

.footer > .container, .footer > .container-fluid {
    padding-right: 15px;
    padding-left: 15px;
}

/** ==============================
// ICON CUSTOMIZATION
============================== **/
.icon{
    height: 45px;
    filter: var(--icon-color);
}

/** ==============================
// NAVBAR
============================== **/
header{
    height: 100%;
}
.navbar {
    padding: 0px;
    height: 52px;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
    background-color: var(--bg-navbar);
}

.nav-link { color: var(--font-navbar) !important; }

.navbar-toggler, .navbar-toggler-icon > span {
    color: var(--font-navbar) !important;
    border-color: var(--font-navbar) !important;
}
.navbar-collapse {
    background: var(--bg-navbar);
}
















.loader-wrapper{
    width: 100%;
    height: calc(100% - 52px);
    position: absolute;
    top: 52px;
    background-color: #282828;
}
.loader {
    display: inline-block;
    width: 30px;
    height: 30px;
    position: relative;
    border: 4px solid #Fff;
    top: 50%;
    left: 50%;
    animation: loader 2s infinite ease;
}

.loader-inner {
    vertical-align: top;
    display: inline-block;
    width: 100%;
    background-color: #fff;
    animation: loader-inner 2s infinite ease-in;
}

@keyframes loader {
    0% {
        transform: rotate(0deg);
    }

    25% {
        transform: rotate(180deg);
    }

    50% {
        transform: rotate(180deg);
    }

    75% {
        transform: rotate(360deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes loader-inner {
    0% {
        height: 0%;
    }

    25% {
        height: 0%;
    }

    50% {
        height: 100%;
    }

    75% {
        height: 100%;
    }

    100% {
        height: 0%;
    }
}










































.navbar form > button.logout {
    padding-top: 7px;
    color: rgba(255, 255, 255, 0.5);
}

@media(max-width:767px) {
    .navbar form > button.logout {
        display:block;
        text-align: left;
        width: 100%;
        padding: 10px 0;
    }
}

.navbar form > button.logout:focus,
.navbar form > button.logout:hover {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.75);
}

.navbar form > button.logout:focus {
    outline: none;
}

.navbar-brand {
    padding: 3px
}















.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    content: '';
    left: 3px;
    display: inline-block;
    width: 0;
    height: 0;
    border: solid 5px transparent;
    margin: 4px 4px 2px 4px;
    background: transparent;
}

a.asc:after {
    border-bottom: solid 7px #212529;
    border-top-width: 0;
}

a.desc:after {
    border-top: solid 7px #212529;
    border-bottom-width: 0;
}

.grid-view th,
.grid-view td:last-child {
    white-space: nowrap;
}

.grid-view .filters input,
.grid-view .filters select {
    min-width: 50px;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}


/** ==============================
// HOME PAGE
============================== **/
.home-header {
    background-color: #CB5757;
    height: 600px;
}
.abb {
    position: relative;
    bottom: 50px;
}


/** ==============================
// OCCURRENCE PAGE
============================== **/

/* Menu */
.occ-menu {
    height: calc(100% - 52px);
    width: 100%;
    margin: 0px;
}
.occ-menu-icons {
    height: 30%;
    filter: invert(100%) sepia(0%) saturate(3740%) hue-rotate(356deg) brightness(123%) contrast(93%);
    transition: height 0.5s;
}
.occ-menu > a {
    cursor: pointer;
    text-decoration: none;
    color: #FFFFFF;
}
.occ-menu > a:not(:last-child){
    border-right: 1px solid #FFFFFF;
}
.occ-menu > a > p {
    margin-top: 30%;
    font-size: 40px;
    transition: font-size 0.5s;
}
.occ-menu > a:hover > p  {
    font-size: 50px;
    transition: font-size 0.5s;
}
.occ-menu > a:hover > .occ-menu-icons {
    height: 35%;
    transition: height 0.5s;
}


/* Create */
.occ-create {
    height: 100%;
    width: 100%;
    color: #FFFFFF;
}
.occ-create > div, .occ-create > form {
    height: 100%;
}
.occ-create > form > div {
    height: 100%;
}
.occ-form-page {
    display: none;
    height: 85%;
    padding-top: 10%;
    padding-left: 5%;
    padding-right: 5%;
}
.occ-create-active {
    display: inline; !important;
}










#map{
    height:100%;
    width: 100%;
}
#occ-form {
    height: 95%;
}
#occ-footer {
    height: 5%;
}
.occ-tab {
    height: 90%;
}

/* Occurrences Footer */
.occ-col-footer {
    height: 5%;
    color: #ffffff;
}
.occ-col-footer > p {
    bottom: 0;
    left: 50%;
    position: absolute;
    margin-left: 10px;
    margin-bottom: 5px;
    font-size: 80%;
}





.occ-menu-btn {
    height: 60px;
    width: 80%;
    margin: 30px;
    background-color: #282828;
    border-color: #CB5757;
    color: #FFFFFF;
    font-size: 30px;
    border-width: 5px;
    border-radius: 30px;
    animation: fadeIn 0.5s linear forwards;
}
@keyframes fadeIn {
    0% { opacity:0; }
    100% { opacity:1; }
}

/* Occurrences Create */
.occ-create-page {
    display: none;
    color: #FFFFFF;
}














/* style breadcrumb widget as in previous bootstrap versions */
.breadcrumb {
    background-color: var(--bs-gray-200);
    border-radius: .25rem;
    padding: .75rem 1rem;
}

.breadcrumb-item > a
{
    text-decoration: none;
}

.nav-link{
    color:black;
}

.main-slider{
    width: 1130px;
    padding-left: 15px;
    padding-right: 15px;
    height: 550px;
    margin: 0 auto 10px;
    overflow: hidden;
}

#detalheOcorrencia{
    border:0;
    background-color: white;
}

.imagem-fundo-pag-inicial{
    /*width:1000px;
    height:550px;*/
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}